In [5]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [8]:
from google.cloud import bigquery

In [9]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       8.818490    False          17          1             42.0
1       8.141671    False          29          1             38.0
2       5.948072     True          38          1             38.0
3       8.838332     True          27          1             39.0
4       9.259415     True          28          1             38.0

In [10]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9991.000000  10000.000000  10000.000000      9881.000000
mean        7.279259     27.332300      1.033200        38.704888
std         1.317603      6.238122      0.188948         2.602659
min         0.661387     12.000000      1.000000        19.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.808857     53.000000      3.000000        47.000000

In [11]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [12]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [13]:
data.head()

      is_male  mother_age  plurality  gestation_weeks
757         1          23          1             39.0
6544        1          19          1             38.0
3190        1          28          1             40.0
2064        0          32          1             40.0
4066        0          17          1             40.0